.footer-full-signature-text.fontsize-small #{t('layouts.footer.links.inside')}

a.link-footer href="#{CatarseSettings[:facebook_url]}" target="_blank" #{t('layouts.footer.links.facebook')}

a.link-footer href="#{CatarseSettings[:twitter_url]}" target="_blank" #{t('layouts.footer.links.twitter')}

/a.link-footer href="#{CatarseSettings[:instagram_url]}" target="_blank" #{t('layouts.footer.links.instagram')}

a.link-footer 
a.link-footer href="#{CatarseSettings[:blog_url]}" target="_blank" #{t('layouts.footer.links.blog')}




a.link-footer href="#{jobs_url}"  #{t('layouts.footer.links.jobs')}

/href="#{CatarseSettings[:github_url]}" target="_blank" #{t('layouts
/.footer.links.github')}

